/* Resets */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-size: 12px;
}

menu {
  list-style: none;
  list-style-image: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

button,
input,
select,
textarea {
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"] {
  margin: 5px 5px 0 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

textarea {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 10px;
}

img {
  border: 0;
  vertical-align: middle;
}

label {
  cursor: pointer;
}

/* General styling */

* {
  color: #444;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(255, 255, 255);
  height: 100%;
}

a {
  color: #3a74ae;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
  margin: 0 0 4px 15px;
}

textarea {
  resize: vertical;
}

menu li menu {
  display: none;
}

menu li:hover menu {
  display: block;
}

menu hr {
  border: none;
  height: 1px;
  background-color: #666;
  color: #666;
  width: 60%;
  margin: 8px auto;
}

input[type='url'],
input[type='email'],
input[type='password'] {
  background: #eee;
  border: solid 1px #ccc;
  padding: 2px;
}

button[disabled] {
  color: #ccc;
}

input.error {
  background: #fee;
  border: solid 1px #f44;
}

input[type='file'] {
  cursor: pointer;
  display: inline;
}

/* Generic classes */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.horizontal-list li {
  display: inline-block;
}

.vertical-list li {
  display: block;
}

.indent-1 {
  display: inline-block;
  padding: 0 0 0 10px;
}

.indent-2 {
  display: inline-block;
  padding: 0 0 0 20px;
}

.indent-3 {
  display: inline-block;
  padding: 0 0 0 30px;
}

.indent-4 {
  display: inline-block;
  padding: 0 0 0 40px;
}

.indent-5 {
  display: inline-block;
  padding: 0 0 0 50px;
}

.indent-6 {
  display: inline-block;
  padding: 0 0 0 55px;
}

.unobtrusive-scroll::-webkit-scrollbar {
  width: 2px;
}

.unobtrusive-scroll::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #bbb;
}

.position-left {
  position: absolute;
  left: 0;
}

.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.firefox-relative-cell {
  /* This class is added to a div in a table cell in order to get relative positioning in firefox. It is not needed in chrome. */
  position: relative;
  width: 100%;
  height: 100%
}

/* Page elements */

#main-view {
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0) 40%, rgba(0, 0, 0, 0.0) 60%, rgba(0, 0, 0, 0.1) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.08) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(40%, rgba(0, 0, 0, 0.0)), color-stop(60%, rgba(0, 0, 0, 0.0)), color-stop(100%, rgba(0, 0, 0, 0.1))), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.08)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0) 30%, rgba(0, 0, 0, 0.0) 70%, rgba(0, 0, 0, 0.1) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.08) 100%);
  /* Chrome10+,Safari5.1+ */
  position: relative;
  width: 100%;
  height: 100%;
}

#viewport {
  position: absolute;
  width: 100%;
  height: 100%;
}

.viewport-performance {
  top: 122px;
}

.simod3d-watermark {
  background: center no-repeat url('../img/watermark2.png');
  background-size: 640px 460px;
}

#main-view-controls {
  position: absolute;
  top: 50px;
  width: 300px;
  font-size: 13px;
  margin-left: 10px;
}

#controls-properties {
  min-height: 300px;
}

#controls-accordion-objects {
  padding: 0;
  font-size: 12px;
  overflow-y: scroll;
  max-height: 600px;
}

#controls-accordion-properties {
  padding: 4px;
  font-size: 12px;
}

.controls-tree {
  display: none;
  list-style: none;
  list-style-image: none;
  cursor: pointer;
}

.controls-tree-item {
  padding: 4px;
}

.controls-tree-item:hover {
  background: #ffff0f;
}

.controls-tree-postfix {
  float: right;
  color: #aaa;
}

#controls-relationships>.controls-tree {
  display: block;
}

.controls-tree-open>.controls-tree {
  display: block;
}

.controls-tree-selected,
.controls-tree-selected:hover {
  background: #08e0f9;
}

.tree-container>.controls-tree {
  display: block;
}

.tree-container {
  float: left;
  margin: 10px;
  padding: 10px;
  width: 400px;
  height: 400px;
  overflow-y: scroll;
  border: 1px;
  border-style: groove;
  border-width: medium;
  border-color: #F6A828;
}

.controls-tree-heading {
  display: none;
  /* Hide it for now - doesn't look good enough yet */
  width: 100%;
  text-align: right;
}

.controls-tree-heading h4 {
  display: inline-block;
  color: #88b;
  font-size: 10px;
  font-weight: normal;
  margin: -2px 2px;
}

.controls-tree-heading hr {
  border: none;
  height: 1px;
  background-color: #88b;
  color: #88b;
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

.controls-message {
  font-size: 13px;
  font-style: italic;
  color: #666;
  margin: 15px;
}

#main-view-keys {
  position: absolute;
  bottom: 40px;
  right: 0;
  font-size: 13px;
}

.shortcut {
  position: relative;
  display: none;
  width: 220px;
  padding: 3px 0;
}

.shortcut div {
  display: inline-block;
  vertical-align: middle;
}

.shortcut-key {
  color: #555;
  font-size: 12px;
  padding: 3px 5px;
  border: solid 1px #aaa;
  background: #eee;
  border-radius: 6px;
  font-weight: bold;
}

.shortcut-description {
  position: absolute;
  right: 0;
  padding: 4px 0;
  width: 170px;
}

.shortcut-mouse-left,
.shortcut-mouse-middle,
.shortcut-mouse-right,
.shortcut-mouse-scroll {
  width: 24px;
  height: 24px;
}

.shortcut-mouse-left {
  background: url('static/images/shortcut-mouse-left24x24.png');
}

.shortcut-mouse-middle {
  background: url('static/images/shortcut-mouse-middle24x24.png');
}

.shortcut-mouse-right {
  background: url('static/images/shortcut-mouse-right24x24.png');
}

.shortcut-mouse-scroll {
  background: url('static/images/shortcut-mouse-scroll24x24.png');
}

#main-view-help {
  position: absolute;
  display: block;
  bottom: 30px;
  color: #777;
  font-size: 13px;
  text-align: center;
  width: 100%;
}

#snapshots-fold {
  /*display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;*/
  padding: 6px 0 0 25px;
  width: 150px;
  vertical-align: top;
  background: rgb(245, 245, 245);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(211, 211, 211, 1) 0%, rgba(245, 245, 245, 1) 20%, rgba(245, 245, 245, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(211, 211, 211, 1)), color-stop(20%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(211, 211, 211, 1) 0%, rgba(245, 245, 245, 1) 20%, rgba(245, 245, 245, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  border-left: 1px solid #ccc;
  /* Alternate table layout */
  position: relative;
  display: table-cell;
  height: 100%;
  max-height: 100%;
}

#snapshots-fold h2 {
  text-align: center;
  width: 125px;
}

#snapshots {
  width: 125px;
}

#snapshots-area {
  /*-webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;*/
  overflow-y: auto;
  /* Alternate table layout */
  position: absolute;
  width: 150px;
  top: 20px;
  bottom: 30px;
  right: 0;
}

.snapshot-thumb {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: 10px;
  width: 125px;
  height: 100px;
  cursor: pointer;
}

.snapshot-delete {
  position: absolute;
  display: none;
  right: 4px;
}

.snapshot:hover .snapshot-delete {
  display: block;
}

#snapshot-placeholder {
  display: block;
  border: 1px dashed #3a74ae;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 10px;
  width: 125px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#snapshot-placeholder div {
  /*margin: auto auto;
  display: inline-block;*/
}

#snapshots-toolbar {
  position: relative;
  padding: 1px 0 0 0;
  /* Alternate table layout */
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#snapshots-toolbar li {
  font-size: 15px;
  line-height: 26px;
}

#snapshots-toolbar-export {
  background: #f1f1f1;
  padding: 0 10px;
  border: solid 1px #e2e2e2;
  min-width: 50px;
  text-align: center;
}

.snapshots-toolbar-pullup {
  position: absolute;
  bottom: 26px;
  right: 0;
  padding: 0 10px;
  min-width: 50px;
  background: #f5f5f5;
  border: solid 1px #ccc;
}

.ifc-link,
.value .ifc-link {
  color: #3a74ae;
}

td.label,
td.value {
  font-size: 12px;
  border: solid 1px #ccc;
}

td.label {
  background: #ddd;
  max-width: 120px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.value {
  text-align: right;
  vertical-align: middle;
}

td.value input {
  border: 0;
  overflow: hidden;
  resize: none;
  width: 100%;
  text-align: right;
  vertical-align: middle;
}

td.value input:hover,
td.value input:focus {
  background: #EEFF88;
}

table tr,
td.value input {
  height: 20px;
}

/* JQuery UI overides */

.ui-accordion-content,
td.value,
td.value input {
  background: #f1f1f1;
}

#scenejsCanvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#siteMenuBar {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
}

#siteMenuBar>#menuContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 2em;
  padding-top: 1em;
}

#siteMenuBar ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

#siteMenuBar ul:first-child {
  float: left;
  margin-left: 10px;
}

#siteMenuBar li {
  display: inline-block;
  margin: 0;
  padding: 0 5px 0 5px;
  margin-right: 10px;
}

.bimmodel:hover {
  cursor: pointer;
  background: #c8e0a9;
}

.bimmodel-selected,
.bimmodel-selected:hover {
  background: #c8e0f9;
}

#login {
  margin: 45px auto 0 auto;
  border: 8px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #4e707c;
  -webkit-box-shadow: 0 0 10px #4e707c;
  box-shadow: 0 0 10px #4e707c;
}

.form-dialog {
  padding: 10px 0;
  text-align: left;
  position: relative;
}

.form-dialog a,
.form-dialog a:visited {
  color: #0283b2;
}

.form-dialog a:hover {
  color: #111;
}

.form-dialog input {
  text-align: right;
}

.form-dialog h1 {
  text-shadow: #007dab 0 1px 0;
  font-size: 14px;
  padding: 5px 8px;
  margin: 0 0 1.5em 0;
  border-bottom: 1px solid #007dab;
  text-align: center;
}

.form-dialog .register {
  position: absolute;
  float: left;
  margin: 0;
  padding: 5px;
  line-height: 30px;
  top: -55px;
  right: 0;
  font-size: 11px;
}

.form-dialog .entry {
  margin: .5em;
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: right;
}

.form-dialog label {
  float: left;
  line-height: 30px;
  padding-left: 10px;
}

.form-dialog .forgot {
  font-size: 10px;
}

.form-dialog .error {
  float: left;
  position: absolute;
  left: 95%;
  top: -5px;
  background: #890000;
  padding: 5px 10px;
  font-size: 11px;
  color: #fff;
  text-shadow: #500 0 1px 0;
  text-align: left;
  white-space: nowrap;
  border: 1px solid #500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #700;
  -webkit-box-shadow: 0 0 5px #700;
  box-shadow: 0 0 5px #700;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

#dialog-save #filename {
  width: 150px;
}

#dialog-save #description {
  margin: 15px auto;
  width: 300px;
  height: 50px;
}

#dialog-save .entry {
  margin: 15px auto;
}