#box-3dmodel {
	background: url('../img/collada.png') no-repeat center rgba(255,255,255,0.5);
	background-size: 256px 256px;
}

#box-schedule {
	background: url('../img/msproject.png') no-repeat center rgba(0,0,0,0.5);
	background-size: 256px 256px;
}

/*-------------------------
	Dropbox Element
--------------------------*/
.dropbox{
	border-radius:3px;
	min-height: 200px;
    width: 200px;
    float: left;
    margin: 18px;
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

.dropbox .message{
    text-align: center;
    margin-top:175px;
    display: block;
	color:#fff;
	font-size: 18px;
}

.dropbox:before{
	border-radius:3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/

.dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

.dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

.dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

.done {
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5) !important;
}

/*-------------------------
	Progress Bars
--------------------------*/

.dropbox .progressHolder{
	position: absolute;
	background-color:#0f0;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	box-shadow:0 0 2px #000;
}

.dropbox .progress{
	background-color:#f00;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

.dropbox .done .progress {
	width:100% !important;
}